## 1.Write a code to reverse a string

In [ ]:
def rev_str(s):
  return s[::-1]
rev_str('pwskills')

'sllikswp'

 ## 2.Write a code to count the number of vowels in a string

In [ ]:
def vowels(s):
  for i in s:
    if i in 'aeiouAEIOU':
      return s.count(i)
vowels('pwskills')

1

## 3. Write a code to check if a given string is a palindrome or not

In [ ]:
def is_palindrome(s):
  s = s.lower()
  if s == s[::-1]:
    return 'it is a palindrome'
  else:
    return 'not a palindrome'
is_palindrome('Pwskll')

'not a palindrome'

## 4.Write a code to check if two given strings are anagrams of each other

In [ ]:
def is_anagram(s1,s2):
  s1 = s1.lower()
  s2 = s2.lower()
  if sorted(s1) == sorted(s2):
    return 'it is an anagram'
  else:
    return 'not an anagram'
is_anagram('listen','silent')

'it is an anagram'

## 5. Write a code to find all occurrences of a given substring within another string

In [ ]:
def all_occurrences(text , substring):
  indices = []
  start = 0
  while True:
    index = text.find(substring,start)
    if index == -1:
      break
    indices.append(index)
    start = index +1
  return indices
all_occurrences('pwskills','ls')

[6]

## 6. Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
def compressed_string(s):
  if not s:
    return ""
  compresed = []
  count = 1
  for i in range (1,len(s)):
    if s[i] == s[i-1]:
      count +=1
    else:
      compresed.append(s[i-1] + str(count))
      count = 1
  compresed.append(s[-1] + str(count))
  return ''.join(compresed)
compressed_string('aabcccccaaa')

'a2b1c5a3'

## 7.Write a code to determine if a string has all unique characters

In [ ]:
def unique_char(s):
  seen = set()
  for char in s:
    if char in seen:
      return False
    seen.add(char)
  return True
unique_char('abcd')

True

## 8. Write a code to convert a given string to uppercase or lowercase

In [ ]:
def lower_case(s):
  return s.lower()
lower_case('SID')

'sid'

## 9. Write a code to count the number of words in a string

In [ ]:
w = 'Sid'
count_len = lambda w : len(w.split())
count_len(w)

3

## 10.Write a code to concatenate two strings without using the + operator

In [ ]:
from typing import Concatenate
s1 = 'Hello'
s2 = 'World'
con_word = ' '.join([s1, s2])
con_word

'Hello World'

## 11. Write a code to remove all occurrences of a specific element from a list

In [ ]:
def remove_ele(list,traget):
  return[x for x in list if x != traget]
l = [1,2,3,4,5,67,1000]
traget = 1000
remove_ele(l,traget)

[1, 2, 3, 4, 5, 67]

## 12. Implement a code to find the second largest number in a given list of integers

In [ ]:
def second_largest(num):
  unique_num = list(set(num))
  if len(unique_num) < 2:
    return None
  unique_num.sort(reverse=True)
  return unique_num[1]
l = [11,66,7,3,3,9,22,33,5,6,5,8]
second_largest(l)

33

## 13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
def count_occurrences(l):
  count_dict={}
  for item in l:
    if item in count_dict:
      count_dict[item]+=1
    else:
      count_dict[item]=1
  return count_dict
lst =[1,2,3,4,5,5,54,3,2,1,1,2,3,45,6,6,7,7,87,6,54,3,22,1]
result = count_occurrences(lst)
result

{1: 4, 2: 3, 3: 4, 4: 1, 5: 2, 54: 2, 45: 1, 6: 3, 7: 2, 87: 1, 22: 1}

## 14. Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
def reverse_list(lst):
  left = 0
  right = len(lst) - 1
  while left < right:
    lst[left],lst[right] = lst[right],lst[left]
    left+=1
    right-=1
l = [1,2,3,4,5]
reverse_list(l)
l

[5, 4, 3, 2, 1]

## 15. Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [ ]:
def remove_duplicate(lst):
  seen = set()
  result = []
  for item in lst:
    if item not in seen:
      seen.add(item)
      result.append(item)
  return result
l = [1,2,3,4,5,5,4,6,22,1,2,1]
remove_duplicate(l)

[1, 2, 3, 4, 5, 6, 22]

### 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
def sorted_1(lst):
           if lst == sorted(lst):
             return 'List is sorted in ascending order'
           elif lst == sorted(lst,reverse=True):
             return 'List is soreted in descending order'
           else:
             return 'List is not sorted'
l = [1,2,3,4,5]
sorted_1(l)

RecursionError: maximum recursion depth exceeded

### 17.  Write a code to merge two sorted lists into a single sorted list

In [7]:
def mer_lst(lst1,lst2):
  merged_list =[]
  i,j=0,0
  while i < len(lst1) and j < len(lst2):
    if lst1[i] < lst2[j]:
      merged_list.append(lst1[i])
      i+=1
    else:
      merged_list.append(lst2[j])
      j+=1
    merged_list.extend(lst1[i:])
    merged_list.extend(lst2[j:])
  return merged_list
lst1 = [1,3,5,7]
lst2 = [2,4,6,8]
mer_lst(lst1,lst2)

[1,
 3,
 5,
 7,
 2,
 4,
 6,
 8,
 2,
 3,
 5,
 7,
 4,
 6,
 8,
 3,
 5,
 7,
 4,
 6,
 8,
 4,
 5,
 7,
 6,
 8,
 5,
 7,
 6,
 8,
 6,
 7,
 8,
 7,
 8]

### 18. Implement a code to find the intersection of two given lists

In [8]:
def list_intersection(list1, list2):
    set2 = set(list2)
    return [item for item in list1 if item in set2]
a = [1, 2, 3, 4, 5, 6]
b = [4, 5, 6, 7, 8, 9]

result = list_intersection(a, b)
print(result)

[4, 5, 6]

### 19.  Create a code to find the union of two lists without duplicates

In [9]:
def list_union(list1, list2):
    seen = set()
    result = []
    for item in list1 + list2:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]

print(list_union(a, b))

[1, 2, 3, 4, 5, 6, 7, 8]

### 20.  Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [10]:
import random

def manual_shuffle(lst):
    n = len(lst)
    for i in range(n - 1, 0, -1):
        j = random.randint(0, i)  # Pick a random index from 0 to i
        lst[i], lst[j] = lst[j], lst[i]  # Swap elements
    return lst
original = [1, 2, 3, 4, 5, 6]
shuffled = manual_shuffle(original.copy())
print("Shuffled List:", shuffled)

Shuffled List: [3, 2, 6, 1, 4, 5]

### 21.  Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [11]:
def tuple_intersection(tup1, tup2):
    set2 = set(tup2)
    return tuple(item for item in tup1 if item in set2)
a = (1, 2, 3, 4, 5)
b = (4, 5, 6, 7)

result = tuple_intersection(a, b)
print(result)

(4, 5)

### 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [16]:
def get_set_input(prompt):
    raw_input = input(prompt)
    return set(map(int, raw_input.split(',')))
set1 = get_set_input("Enter the first set of integers : ")
set2 = get_set_input("Enter the second set of integers : ")
intersection = set1 & set2
print("Intersection of the two sets:", intersection)

KeyboardInterrupt: Interrupted by user

### 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [14]:
def concatenate_tuples(tup1, tup2):
    return tup1 + tup2
a = (1, 2, 3)
b = (4, 5, 6)

result = concatenate_tuples(a, b)
print(result)

(1, 2, 3, 4, 5, 6)

### 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [15]:
def get_string_set(prompt):
    raw_input = input(prompt)
    return set(map(str.strip, raw_input.split(',')))

set1 = get_string_set("Enter the first set of strings : ")
set2 = get_string_set("Enter the second set of strings : ")

difference = set1 - set2

print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings (comma-separated): apple,kiwi,mango,cherry
Enter the second set of strings (comma-separated): mango,cherry
Elements in the first set but not in the second set: {'apple', 'kiwi'}

### 25.  Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [17]:
def slice_tuple(tup, start, end):
    return tup[start:end]
original = (10, 20, 30, 40, 50, 60, 70)
start_index = 2
end_index = 5

result = slice_tuple(original, start_index, end_index)
print(result)

(30, 40, 50)

### 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [18]:
def get_char_set(prompt):
    raw_input = input(prompt)
    return set(map(str.strip, raw_input.split(',')))

set1 = get_char_set("Enter the first set of characters : ")
set2 = get_char_set("Enter the second set of characters : ")

union_set = set1 | set2

print("Union of the two sets:", union_set)

Enter the first set of characters : a,b,c,d
Enter the second set of characters : c,d,e,f
Union of the two sets: {'d', 'b', 'e', 'a', 'f', 'c'}

### 27.  Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [19]:
def min_max_unpack(tup):
    max_val, min_val = max(tup), min(tup)
    return max_val, min_val
numbers = (12, 45, 7, 89, 23, 5)
maximum, minimum = min_max_unpack(numbers)

print("Maximum:", maximum)
print("Minimum:", minimum)

Maximum: 89
Minimum: 5

### 28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_result = set1 | set2

intersection_result = set1 & set2

difference_result = set1 - set2

print("Union:", union_result)
print("Intersection:", intersection_result)
print("Difference (set1 - set2):", difference_result)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

### 29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [21]:
def count_occurrences(tup, element):
    return tup.count(element)
numbers = (1, 2, 3, 2, 4, 2, 5)
target = 2

result = count_occurrences(numbers, target)
print(f"The element {target} appears {result} times in the tuple.")

The element 2 appears 3 times in the tuple.

### 30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [22]:
def get_string_set(prompt):
    raw_input = input(prompt)
    return set(map(str.strip, raw_input.split(',')))

set1 = get_string_set("Enter the first set of strings : ")
set2 = get_string_set("Enter the second set of strings : ")

symmetric_diff = set1 ^ set2

print("Symmetric difference of the two sets:", symmetric_diff)

Enter the first set of strings : Apple,babana,orange
Enter the second set of strings : apple,orange
Symmetric difference of the two sets: {'apple', 'babana', 'Apple'}

### 31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [23]:
def word_frequency(words):
    freq_dict = {}
    for word in words:
        word = word.strip().lower()
        freq_dict[word] = freq_dict.get(word, 0) + 1
    return freq_dict
word_list = ['apple', 'banana', 'Apple', 'orange', 'banana', 'apple']
result = word_frequency(word_list)
print(result)

{'apple': 3, 'banana': 2, 'orange': 1}

### 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [24]:
def merge_dicts(dict1, dict2):
    merged = dict1.copy()  # Start with a copy of the first dictionary
    for key, value in dict2.items():
        merged[key] = merged.get(key, 0) + value
    return merged
d1 = {'apple': 3, 'banana': 2, 'orange': 1}
d2 = {'banana': 4, 'orange': 2, 'grape': 5}

result = merge_dicts(d1, d2)
print(result)

{'apple': 3, 'banana': 6, 'orange': 3, 'grape': 5}

### 33.  Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [25]:
def get_nested_value(data, keys):
    current = data
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]
        else:
            return None
    return current
nested_dict = {
    'user': {
        'profile': {
            'name': 'Siddhant',
            'skills': ['Python', 'SQL']
        }
    }
}


print(get_nested_value(nested_dict, ['user', 'profile', 'name']))


print(get_nested_value(nested_dict, ['user', 'profile', 'age']))

Siddhant
None

### 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [31]:
def sort_dict_by_values(input_dict, descending=False):
    try:
        return dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=descending))
    except TypeError as e:
        print("Sorting failed due to incompatible value types:", e)
        return None
data = {'apple': 'c', 'banana': 'a', 'orange': 'b'}
print("Ascending:", sort_dict_by_values(data))

Sorting failed due to incompatible value types: sorted() got an unexpected keyword argument 'key'
Ascending: None

### 35.  Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [32]:
def invert_dict(original_dict):
    inverted = {}
    for key, value in original_dict.items():
        if value in inverted:
            inverted[value].append(key)
        else:
            inverted[value] = [key]
    return inverted
data = {
    'apple': 1,
    'banana': 2,
    'cherry': 1,
    'date': 3,
    'elderberry': 2
}

result = invert_dict(data)
print(result)

{1: ['apple', 'cherry'], 2: ['banana', 'elderberry'], 3: ['date']}